@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Montserrat:wght@600&family=Nunito:wght@300&family=Playfair+Display+SC&family=Righteous&family=Zen+Dots&display=swap');

/* login page */


.container {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 400px;
  width: 450px;
  padding-top: 30px;
  border-radius: 1.1rem;
  box-shadow: 1px 1px 8px rgba(238, 239, 241, 0.8);
  background-color: white
}

.container .heading {
  display: flex;
  padding-bottom: 10%;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.container input {
  margin-left: 15px;
  width: 400px;
  height: 60px;
  margin-bottom: 20px;

}


.container .form-floating {
  width: 400px;
  color: black;
}

.container .form-control {
  color: rgb(22, 31, 27);
}

.container .button {
  margin-top: 2px;
  margin-right: 30px;
  float: right;
}

.container .button .btn {
  color: white;
  background-color: rgb(77, 119, 227);
  border-radius: .5rem;
  width: 102px;
  height: 45px;
  box-shadow: 2px 2px 9px rgba(249, 249, 249, 0.846);

}

.container .button .btn:hover {
  background-color: rgb(93, 17, 216);
}



/* signup page */


.containerS {
  display: block;
  align-items: center;
  justify-content: center;
  height: 470px;
  width: 450px;
  border-radius: 1.1rem;
  box-shadow: 1px 1px 8px rgba(49, 49, 50, 0.8);
  background-color: rgb(241, 240, 240)
}

.cardsignup {


  display: flex;
  justify-content: center;
  align-items: center;
}


.containerS .headingS {
  padding-top: 10px;
  display: flex;
  padding-bottom: 4%;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.containerS input {
  margin-left: 27px;
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
}

.containerS .button {
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerS .button .btn {
  color: white;
  background-color: rgb(77, 119, 227);
  border-radius: .5rem;
  width: 102px;
  height: 45px;
  box-shadow: 2px 2px 9px rgba(249, 249, 249, 0.883);

}

.containerS .button .btn:hover {
  background-color: rgb(93, 17, 216);
}




/* Navbar */

.page3 {
  background-image: url("img/page5.jpg");
  height: 38.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  margin-left: 70px;
  padding-bottom: 10px;
  background-color: #990011FF;
  height: 65px;
  width: 90%;
  font-size: 17px;
  border-radius: .8rem;
}

.navbar .container-fluid{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .btn {
  margin-right: 57px;
}

.navbar .collapse {
  margin-left: 150px;
}

.navbar .navbar-brand {
  font-size: 40px;
  padding-left: 20px;
}

.navbar .collapse .nav-item {
  margin-left: 20px;
}

.navbar .modalCard .modal {
  margin-top: 50px;

}

.navbar .modalCard .modal .modal-dialog .modal-content {
  background-color: rgba(223, 223, 226, 0.771);
  margin-left: 290px;
  height: 530px;
  border-radius: 20px;
}

.navbar .modalCard .modal .modal-content .btn-close {

  margin-left: 450px;
  margin-top: 10px;
}

/* notepage */

.pagenote {

  background-image: url("img/bg6.jpg");
  height: 38.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar  .nav-item .notesModal .modal .modal-content {
  margin-top: 70px;
  width: 250px;
  height: 480px;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 8px rgb(0, 0, 0);
}

.navbar  .nav-item .notesModal .modal .modal-content .btn-close{
  /* background-color: rgba(255, 0, 0, 0.73); */
  margin-left: 180px;
  margin-top: 10px;
}

.navbar .nav-item  .notesModal .modal .modal-dialog .modal-content .modal-body ul {
  padding: 0;
  background-color: white;
  border-radius: 1rem;
  padding: 4px 2px;
  height: 410px;
}


.navbar .nav-item  .notesModal .modal .modal-dialog .modal-content .modal-body ul li {

  list-style: none;
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.navbar .nav-item  .notesModal .modal .modal-dialog .modal-content .modal-body ul li:hover {
  background-color: rgba(56, 56, 247, 0.751);
  color: white;
  border-radius: 1rem;
}
/* note table */
.notesPage{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}


.notesPage .notebox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 470px;
  width: 1050px;
  background-color: #FCF6F5FF;
  box-shadow: 2px 2px 15px rgba(154, 2, 2, 0.883);
  border-radius: .8rem;
  padding: 16px 10px;
}

/* table */

.fixed_header {

  border-radius: 1.5rem;
  height: 80%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_header tbody {
  background: rgba(42, 218, 241, 0.561);
  color: rgb(0, 0, 0);
  padding: 8px 0px;
  display: block;
  width: 100%;
  overflow: auto;
  height: 300px;
  font-size: 25px;
}
.fixed_header thead tr {
  display: block;
}
.fixed_header thead {
  background: rgba(255, 158, 47, 0.845);
  color: rgba(25, 10, 10, 0.885);
  font-size: 30px;
}
.fixed_header th,
.fixed_header td {
  padding: 10px 20px;
  text-align: left;
  width: 200px;
}

/* semestercard */

.semestercard{
width: 200px;

}

/* LandingPag */
.LandingPage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #FCF6F5FF;
  color: #990011FF;
  
}
.LandingPage .pagecontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPage .pagecontainer .containerleft{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -350px;
  margin-right: 300px;
  height: 300px;
}
.LandingPage .pagecontainer .containerleft h1{
  font-size: 100px;
  font-family: 'Righteous', cursive;
}

.LandingPage .pagecontainer .containerRight{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -400px;
  height: 350px;
  width: 350px;
  background-color: #990011FF;
  box-shadow: 2px 2px 15px rgba(154, 2, 2, 0.883);
  color: rgb(255, 255, 255) ;
  border-radius: 1rem;
}


/* landingPageA */


.LandingPageA{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #FCF6F5FF;
  color: #990011FF;
}
.LandingPageA .pagecontainerA{
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPageA .pagecontainerA .containerleftA{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -550px;
  margin-left: -200PX;
  height: 300px;
}
.LandingPageA .pagecontainerA .containerleftA h1{
  font-size: 90px;
  font-family: 'Righteous', cursive;
}

.LandingPageA .pagecontainerA .containerRightA{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -500px;
  height: 350px;
  width: 350px;
  background-color: #990011FF;
  box-shadow: 2px 2px 15px rgba(154, 2, 2, 0.883);
  color: white ;
  border-radius: 1rem;
}

/* LandingPagB */
.LandingPageB{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: #FCF6F5FF;
  color: #990011FF;
}
.LandingPageB .pagecontainerB{
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPageB .pagecontainerB .containerleftB{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -250px;
  margin-right: 100px;
  height: 300px;
}
.LandingPageB .pagecontainerB .containerleftB h1{
  font-size: 90px;
  font-family: 'Righteous', cursive;
}

.LandingPageB .pagecontainerB .containerRightB{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -240px;
  height: 350px;
  width: 350px;
  background-color: #990011FF;
  box-shadow: 2px 2px 15px rgba(154, 2, 2, 0.883);
  color: white ;
  border-radius: 1rem;
}


/* aboutbox */

.LandingPageabout{
  height: 500px;
  background-color: #FCF6F5FF;
  color: #990011FF;
}
.LandingPageabout .pagecontainerabout h1{

  text-align: center;
  font-size: 60px;
  font-family: 'Righteous', cursive;
 
}

.LandingPageabout .pagecontainerabout .boxabout{
 height: 350px;
 margin: 0 30px;
 background-color: #990011FF;
 color: white;
 border-radius: 1rem;
 
}

.LandingPageabout .pagecontainerabout .boxabout h1{
  padding: 40px 50px;
  font-size: 25px;
  color: white;
  font-family: 'Hanken Grotesk', sans-serif;
}
.LandingPageabout .pagecontainerabout h2{
  text-align: center;
  font-size: 30px;
  color: #990011FF;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
 
}

/* noteboxdropdown */

.notesPage{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}


.notesPage .noteboxdropdown{
  align-items: center;
  justify-content: center;
  height: 470px;
  width: 1050px;
  background-color: #FCF6F5FF;
  box-shadow: 2px 2px 15px rgba(154, 2, 2, 0.883);
  border-radius: .8rem;
  padding: 16px 10px;
}

.notesPage .noteboxdropdown .boxnote{
  margin: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 220px;
  border-radius: 1rem;
  background-color: #990011FF;
  color: white;
  font-family: 'Montserrat', sans-serif;
}