@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Hanken+Grotesk&family=Montserrat:wght@600&family=Nunito:wght@300&family=Playfair+Display+SC&family=Righteous&family=Zen+Dots&display=swap');

/* login page */


.container {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 400px;
  width: 450px;
  padding-top: 30px;
  border-radius: 1.1rem;
}

.container .heading {
  display: flex;
  padding-bottom: 10%;
  justify-content: center;
  color: #3ec8ea;
}

.container input {
  margin-left: 15px;
  width: 400px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 1.5rem;

}


.container .form-floating {
  width: 400px;
  color: #3ec8ea;
}



.container .button {
  margin-top: 2px;
  margin-right: 30px;
  float: right;
}

.container .button .btn {
  color: white;
  background-color: #9b87ff;
  border-radius: .5rem;
  width: 102px;
  height: 45px;
  box-shadow: 2px 2px 9px rgba(249, 249, 249, 0.846);

}

.container .button .btn:hover {
  background-color: #6657b3;
}



/* signup page */


.containerS {
  display: block;
  align-items: center;
  justify-content: center;
  height: 470px;
  width: 450px;
  border-radius: 1.1rem;
}

.cardsignup {


  display: flex;
  justify-content: center;
  align-items: center;
}


.containerS .headingS {
  margin-bottom: 20px;
  padding-top: 10px;
  display: flex;
  padding-bottom: 4%;
  justify-content: center;
  color: #3ec8ea;
  font-size: 40px;
}

.containerS input {
  margin-left: 27px;
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 1.5rem;
}

.containerS .button {
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerS .button .btn {
  color: white;
  background-color: #9b87ff;
  border-radius: .5rem;
  width: 102px;
  height: 45px;
  box-shadow: 2px 2px 9px rgba(249, 249, 249, 0.883);

}

.containerS .button .btn:hover {
  background-color: #6657b3;
}




/* Navbar */

.page3 {
  height: 38.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
  background-color: transparent;
  height: 65px;
  font-size: 17px;
}

.navbar .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .btn {
  margin-right: 50px;
  background-color: #9b87ff;
  border: none;
}

.navbar .btn:hover {
  background-color: #7060c2;
}

.navbar .collapse {
  margin-left: 130px;
}

.navbar .navbar-brand {
  font-size: 40px;
  padding-left: 20px;
}

.navbar .collapse .nav-item {
  margin-left: 20px;
}

.navbar .modalCard .modal {
  margin-top: 20px;

}

.navbar .modalCard .modal .modal-dialog .modal-content {
  height: 530px;
  border-radius: 20px;
  background-color: rgb(235, 242, 248);
  box-shadow: 0.4px 0px 3px 1px rgba(48, 48, 48, 0.702);
  border: none;
}

.navbar .modalCard .modal .modal-content .btn-close {

  margin-left: 450px;
  margin-top: 45px;
}

/* notepage */

.pagenote {

  /* background-image: url("img/bg6.jpg"); */
  height: 38.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar .nav-item .notesModal .modal .modal-content {
  margin-top: 70px;
  width: 250px;
  height: 480px;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 8px rgb(0, 0, 0);
}

.navbar .nav-item .notesModal .modal .modal-content .btn-close {
  margin-left: 180px;
  margin-top: 10px;
}

.navbar .nav-item .notesModal .modal .modal-dialog .modal-content .modal-body ul {
  padding: 0;
  background-color: white;
  border-radius: 1rem;
  padding: 4px 2px;
  height: 410px;
}


.navbar .nav-item .notesModal .modal .modal-dialog .modal-content .modal-body ul li {

  list-style: none;
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.navbar .nav-item .notesModal .modal .modal-dialog .modal-content .modal-body ul li:hover {
  background-color: rgba(56, 56, 247, 0.751);
  color: white;
  border-radius: 1rem;
}

/* note table container */


/* table */

.fixed_header {
  border-radius: 1.5rem;
  table-layout: fixed;
  border-collapse: collapse;
  /* width: 90%; */
  
}

.fixed_header tbody {
  width: 90%;
  background: rgba(232, 232, 232, 0.561);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 25px; 
  height: 300px;
}

tbody, td, tfoot, th, thead, tr{
  padding: 10px 20px;
  
}

.fixed_header thead {
  width: 90%;
  text-align: center;
  background-color: #3ec8ea;
  color: #292355;
  font-size: 30px;
 }


 .notepre{
  text-align: center;
  margin-top: 30px ;
  font-size: 40px;
  font-weight: bold;
 }


/* LandingPag */
.LandingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: rgb(255, 255, 255);
  color: #27a9d4;

}

.LandingPage .pagecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPage .pagecontainer .containerleft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -290px;
  margin-right: 150px;
  height: 1200px;
}

.LandingPage .pagecontainer .containerleft h1 {
  font-size: 100px;
  font-family: 'Righteous', cursive;
}

.LandingPage .pagecontainer .containerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -350px;
  color: rgb(255, 254, 254);
}


/* landingPageA */


.LandingPageA {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  background-color: rgb(255, 255, 255);
  color: #27a9d4;
}

.LandingPageA .pagecontainerA {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPageA .pagecontainerA .containerleftA {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -550px;
  margin-left: -120PX;
  height: 1200px;
}

.LandingPageA .pagecontainerA .containerleftA h1 {
  font-size: 90px;
  font-family: 'Righteous', cursive;
}

.LandingPageA .pagecontainerA .containerRightA {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -500px;
  color: white;
  border-radius: 1rem;
}

/* LandingPagB */
.LandingPageB {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-color: rgb(255, 255, 255);
  color: #27a9d4;
}

.LandingPageB .pagecontainerB {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPageB .pagecontainerB .containerleftB {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -250px;
  margin-right: 100px;
  height: 1200px;
}

.LandingPageB .pagecontainerB .containerleftB h1 {
  font-size: 70px;
  font-family: 'Righteous', cursive;
}

.LandingPageB .pagecontainerB .containerRightB {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -290px;
  color: white;
}


/* aboutbox */

.LandingPageabout {
  height: 500px;
  /* background-color: #3ec8ea; */
  color: #3ab4d3;
}

.LandingPageabout .pagecontainerabout h1 {

  text-align: center;
  font-size: 60px;
  font-family: 'Righteous', cursive;

}

.LandingPageabout .pagecontainerabout .boxabout {
  height: 350px;
  margin: 0 30px;
  /* background-color: #3ec8ea; */
  color: #9b87ff;
  border-radius: 1rem;

}

.LandingPageabout .pagecontainerabout .boxabout h1 {
  padding: 40px 50px;
  font-size: 25px;
  color: #9b87ff;
  font-family: 'Hanken Grotesk', sans-serif;
}

.LandingPageabout .pagecontainerabout h2 {
  text-align: center;
  font-size: 30px;
  color: #9b87ff;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;

}

/* noteboxdropdown */

.notesPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* notepage */


.toggel {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #3ec8ea36;
}

.toggel .but button {
  margin-left: 40px;
  color: white;
  font-size: 25px;
  width: 150px;
  height: 60px;
  background-color: #333768;
  border-radius: .9rem;
  border: none;

}


.toggel .but button:hover {
  background-color: #a095d9;
}

.toggel form label select {
  cursor: pointer;
  margin: 0 30px 0 30px;
  width: 143px;
  height: 39px;
  background-color: #9b87ff;
  border: none;
  color: rgb(255, 254, 254);
  font-size: 25px;
  list-style: none;
  overflow: hidden;
  border-radius: .3rem;
}

.toggel form label select option {
  background-color: rgb(248, 239, 239);
  color: #3ec8ea;
  text-align: center;
  font-size: 25px;
  cursor: pointer;


}

/* preview page */

.prePage .container {
  height: 100%;
  width: 100%;
}

.prePage .container .prebox {
  height: 400px;
  width: 100%;
  padding: 20px 20px;
  /* background-color: #3b3b41; */
  color: white;
}

.prePage .container .prebox button {
  float: left;
  margin-left: 40px;
  color: white;
  font-size: 25px;
  width: 250px;
  height: 60px;
  background-color: #9b87ff;
  border-radius: .4rem;
  border: none;

}

.prePage .container .prebox button:hover {
  background-color: #6351c6;
}

.prePage .container .prebox .userpro {
  float: right;
  padding: 0px 20px;
  height: 200px;
  width: 400px;
  color: #27a9d4;
}

/* .pdfview1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.prePage .pdfview{
  height: 710px ;
  width: 50%;
  border: 1px solid black;
}

/* pdf viwer */
.App-header {
  /* margin-left: 80px; */
  margin-top: -170px;
  padding: 30px 0px;
  background-color: #fafafa41;
  width: 80%;
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-header button {
 
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row;
  border: none;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: .5rem;
  color: white; */
}

.App-header button:hover {
  background-color: #241670;
}

.dropdown {
  width: 50%;
  padding: 0px 10px;
  /* margin-left: 25px; */
  margin-bottom: 20px;
}

.dropdown .dropbtn {
  height: 40px;
  border: none;
  color: black;
  background-color: white;

}

.dropdown button {
  width: 50%;
  margin: 0px;
  border-radius: 2rem;
}

.SignUplabel label select {
  cursor: pointer;
  margin: 0 0px 10px 0px;
  padding: 0 3px;
  width: 100%;
  height: 40px;
  background-color: #f3f2f6;
  border: none;
  /* color: rgb(255, 254, 254); */
  /* font-size: 25px; */
  list-style: none;
  overflow: hidden;
  border-radius: 0.3rem;
}



.pdf-viewer::-webkit-scrollbar {
  display: none;
}

.pdf-viewer::-webkit-media-controls-download-button {
  display: none;
}


#maskedImage{
display: none;
display: 1;
}

