/* login page */

.container {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 400px;
  width: 450px;
  padding-top: 30px;
  border-radius: 1.1rem;
  box-shadow: 1px 1px 8px rgba(238, 239, 241, 0.8);
  background-color: white
}

.container .heading {
  display: flex;
  padding-bottom: 10%;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.container input {
  margin-left: 15px;
  width: 400px;
  height: 60px;
  margin-bottom: 20px;

}


.container .form-floating {
  width: 400px;
  color: black;
}

.container .form-control {
  color: rgb(22, 31, 27);
}

.container .button {
  margin-top: 2px;
  margin-right: 30px;
  float: right;
}

.container .button .btn {
  color: white;
  background-color: rgb(77, 119, 227);
  border-radius: .5rem;
  width: 102px;
  height: 45px;
  box-shadow: 2px 2px 9px rgba(249, 249, 249, 0.846);

}

.container .button .btn:hover {
  background-color: rgb(93, 17, 216);
}



/* signup page */


.containerS {
  display: block;
  align-items: center;
  justify-content: center;
  height: 470px;
  width: 450px;
  border-radius: 1.1rem;
  box-shadow: 1px 1px 8px rgba(49, 49, 50, 0.8);
  background-color: rgb(241, 240, 240)
}

.cardsignup {


  display: flex;
  justify-content: center;
  align-items: center;
}


.containerS .headingS {
  padding-top: 10px;
  display: flex;
  padding-bottom: 4%;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.containerS input {
  margin-left: 27px;
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
}

.containerS .button {
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerS .button .btn {
  color: white;
  background-color: rgb(77, 119, 227);
  border-radius: .5rem;
  width: 102px;
  height: 45px;
  box-shadow: 2px 2px 9px rgba(249, 249, 249, 0.883);

}

.containerS .button .btn:hover {
  background-color: rgb(93, 17, 216);
}




/* Navbar */

.page3 {
  z-index: -3;
  background-image: url("img/bg.jpg");
  height: 38.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: rgba(15, 14, 14, 0.788);
  height: 60px;
  font-size: 20px;
}

.navbar .btn {
  margin-right: 57px;
}

.navbar .collapse {
  margin-left: 150px;
}

.navbar .navbar-brand {
  font-size: 40px;
  padding-left: 20px;
}

.navbar .collapse .nav-item {
  margin-left: 20px;
}

.navbar .modalCard .modal {
  margin-top: 50px;

}

.navbar .modalCard .modal .modal-dialog .modal-content {
  background-color: rgba(223, 223, 226, 0.771);
  margin-left: 300px;
  height: 530px;
  border-radius: 20px;
}

.navbar .modalCard .modal .modal-content .btn-close {

  margin-left: 450px;
  margin-top: 10px;
}

/* notepage */

.pagenote {

  background-image: url("img/bg6.jpg");
  height: 38.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar  .nav-item .notesModal .modal .modal-content {
  margin-top: 70px;
  width: 250px;
  height: 480px;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 8px rgb(0, 0, 0);
}

.navbar  .nav-item .notesModal .modal .modal-content .btn-close{
  /* background-color: rgba(255, 0, 0, 0.73); */
  margin-left: 180px;
  margin-top: 10px;
}

.navbar .nav-item  .notesModal .modal .modal-dialog .modal-content .modal-body ul {
  padding: 0;
  background-color: white;
  border-radius: 1rem;
  padding: 4px 2px;
  height: 410px;
}


.navbar .nav-item  .notesModal .modal .modal-dialog .modal-content .modal-body ul li {

  list-style: none;
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.navbar .nav-item  .notesModal .modal .modal-dialog .modal-content .modal-body ul li:hover {
  background-color: rgba(56, 56, 247, 0.751);
  color: white;
  border-radius: 1rem;
}
/* note table */

.notesPage .notebox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 580px;
  width: 1050px;
  background-color: white;
  border-radius: 1.5rem;
  padding: 16px 10px;
}

/* table */

.fixed_header {
  
  border-radius: 1.5rem;
  height: 80%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_header tbody {
  background: rgba(42, 218, 241, 0.561);
  color: rgb(0, 0, 0);
  padding: 8px 0px;
  display: block;
  width: 100%;
  overflow: auto;
  height: 380px;
  font-size: 25px;
}
.fixed_header thead tr {
  display: block;
}
.fixed_header thead {
  background: rgba(255, 158, 47, 0.845);
  color: rgba(25, 10, 10, 0.885);
  font-size: 30px;
}
.fixed_header th,
.fixed_header td {
  padding: 10px 20px;
  text-align: left;
  width: 200px;
}

/* semestercard */

.semestercard{
width: 200px;

}

